body {
    padding: 0;
    margin: 0;
}

h2 {
    font-family: Arial, sans-serif;
    padding-bottom: 5px;
}

* {
    padding: 0;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#list {
    width: 100px;
    padding: 4px 12px;
    border: 1px solid dodgerblue;
}

.edit-wrapper {
    margin-top: 20px;
}

.add-wrapper {
    margin-top: 20px;
}

.input-wrapper {
    display: flex;
}

.input-style {
    padding: 4px 12px;
    border: 1px solid dodgerblue;
    text-align: start;
    outline: none;
}

.btn-style {
    width: 50px;
    background: #ffffff;
    border: 1px solid dodgerblue;
    border-left: none;
    outline: none;
}

.btn-style:hover {
    background: lavender;
}

.btn-style:active {
    background: dodgerblue;
}



.error {
    border: 1px solid red;
}
